 {% extends 'base.html' %}
 {% load static %}
 {% block titulo_pagina %}Administrador de personas {% endblock %}
 {% block titulo_principal %}Administrador de Clientes{% endblock %}

 {% block pricipal %}
    <form method="post" enctype="multipart/form-data" novalidate="">
        {% csrf_token %}
        <h1 class="display-6">Cliente</h1>
        <div class="col-5 maincontent">
            <div class="row">
                <div class="col-xs.2">
                    {{ form.persona.label }} {{ form.persona }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs.2">
                     {{ form.fecha_alta.label }} <br> {{ form.fecha_alta }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs.2">
                    {{ form.categoria.label }}<br> {{ form.categoria }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs.2">
                    <br><input type="submit" name="submit" value="Grabar" class="btn btn-primary" >
                </div>
            </div>
        </div>
    </form>
  {% endblock %}