
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="{% url "index"  %}">Tienda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Personas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="{% url "Persona_listar"  %}">Personas</a></li>
            <li><a class="dropdown-item" href="{% url "Cliente_listar"  %}">Clientes</a></li>
            <li><a class="dropdown-item" href="{% url "Empleado_listar"  %}">Empleados</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url "Nueva_Persona"  %}">Crear Persona</a></li>
            <li><a class="dropdown-item" href="{% url "Nuevo_Cliente"  %}">Crear Cliente</a></li>
            <li><a class="dropdown-item" href="{% url "nuevo_empleado"  %}">Crear Empleado</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articulos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="{% url "Articulos_lista"  %}">Mostrar Articulos</a></li>
              <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url "Nuevo_Articulo"  %}">Crear Articulo</a></li>


          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>

<!--JS-->
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>